@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #FF9BF8 0%, #C08CFF 48%, #FF98F8 100%);
    font-family: Arial, Helvetica, sans-serif;
}


/* Começo Nav */
#nav_bar {
    width: 100%;
    height: 60px;
    align-items: center;
    display: flex;
    background: #570077;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
}

.geretech {
    font-family: 'Righteous';
    font-style: normal;
    font-size: 40px;
    display: flex;
    text-align: center;
    padding: 20px;
    color: #FF3AA7;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.txtnavbar {
    font-family: 'Righteous';
    font-style: normal;
    font-size: 25px;
    display: flex;
    color: #FF3AA7;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    gap: 30px;
}

.nav_right {
    font-family: 'Righteous';
    font-style: normal;
    font-size: 25px;
    display: flex;
    color: #FF3AA7;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    gap: 20px;
    position: relative;
    left: 400px;
}

/*Id do texto*/
#nav_p {
    position: relative;
    left: 400px;
}

/*conteudo principal*/

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.section1 {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    gap: 35px;
}

.section1 p {
    font-family: Righteous;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

/*Botão cadastro - Section1*/

#section_button_1 {
    width: 257;
    height: 61;
    border-radius: Radius/200;
    border-width: Stroke/Border;
    padding: Space/300;
    gap: Space/200;
    color: #00FFA6;
}

/*section 2*/

.section2 {
    display: flex;
    flex-direction: column;
    padding: 200px;
}

.section2 h1 {
    justify-content: center;
    text-align: center;
}

.section2 p {
    font-family: Righteous;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: center;
}

/* section3*/

.section3 h1 {
    justify-content: center;
    text-align: center;
}

/*section3 p & img*/

#section3_p_img {
    display: flex;
    flex-direction: row;
}

#section3_p_img p {
    font-family: Righteous;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: justify;

}

#section3_p_img img {
    width: 788px;
    height: 500px;
}

/*footer*/
footer {
    background-color: #FF3AA7;
    width: 100%;
    height: 484px;
}

/* Linha HR*/
.line_hr {
    color: #F205873D;
    width: 1479;
    height: 4;
    border-radius: 8px;
}

/*Classe h1 para toda a formatação de cabeçalho "Miguel burrinho"*/
h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.5px;
    color: #FF3AA7;
    text-shadow: 4px 6px 10px rgba(0, 0, 0, 0.5);
}

/*footer esquerda*/
.footer_sup_left {
    display: flex;
    flex-direction: row;
}

.footer_sup_left img {
    width: 86px;
    height: 81px;
}

.footer_sup_left p {
    margin-top: 10px;
    font-family: Righteous;
    font-weight: 400;
    font-size: 40px;
    line-height: Body Large/Line Height;
    letter-spacing: Body Large/Tracking;
    vertical-align: middle;
}

/*footer meio*/
.footer_mid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer_mid a {
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 0%;
    color: black;
}

.footer_mid_left {
    margin-left: 230px;
}

.footer_mid_right{
    margin-right: 200px;
}